/* QARKINE FONT */
@font-face {
    font-family: 'Qarkine';
    src: url(../assets/Qarkine.ttf) format('truetype');
}

body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    align-items: center;
}

.headertest {
    color: white;
    text-align: left;
}

.headertest h1 {
    position: relative;
    left: 20px;
    color: white;
    font-family: 'Qarkine', sans-serif;
}