/* QARKINE FONT */
@font-face {
    font-family: 'Qarkine';
    src: url(../assets/Qarkine.ttf) format('truetype');
}



/* PAGE BODY */
body {
    background-color: #a150b3;
    margin: 0;
    overflow: hidden;
}



/* PAGE CONTAINER */
.container {
    position: relative;
}



/* PAGE NAVIGATION LINKS */
.page-nav {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 75px;
    align-items: center;
    height: 75vh;
    justify-content: center;
}

.page-nav a {
    margin: 30px;
    text-decoration: none;
    font-family: 'Qarkine', sans-serif;
    font-weight: 200;
    color: white;
    width: 0px;
    letter-spacing: 5px;
}

.page-nav a:visited {
    color: white;
}

.page-nav a:hover {
    font-style: italic;
    transform: translateX(10px);
    transition: transform 0.3s ease;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
}



/* VERTICAL LINE 1 */
.verticalline {
    position: fixed;
    left: 50px;
    top: 65px;
    width: 5px;
    height: 11vh;
    background-color: white;
}



/* LINKEDIN */
.linkedin {
    position: absolute;
    left: -45px;
    top: 250px;
    transform: rotate(-90deg);
    font-family: 'Qarkine', sans-serif;
    color: white;
}

.linkedin a {
    color: white;
    text-decoration: none;
    letter-spacing: 15px;
    font-size: 10px;
    font-weight: bold;
}

.linkedin a:visited {
    color: white;
}

.linkedin a:hover {
    font-style: italic;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
}



/* VERTICAL LINE 2 */
.verticalline2 {
    position: absolute;
    left: 50px;
    top: 385px;
    width: 5px;
    height: 50vh;
    background-color: white;
}



/* BIO */
.bio {
    position: relative;
    top: 1025px;
    left: 50px;
    
}

.bio h4 {
    color: white;
    font-family: 'Qarkine', sans-serif;
    letter-spacing: 5px;
    margin-bottom: -10px;
    font-size: 15px;
    font-weight: 800;
}

.bio p {
    color: white;
    font-family: 'Qarkine', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight:100;
}

.bio a {
    color: white;
}

.bio a:hover {
    font-style: italic;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
}