/* The main issue seems to be using position: fixed, since that positions items
relative to the viewport window. This means that when the window resizes, these
elements don't move. Instead if we use position: relative I can it can solve the issue
because it positions elements relative to their parent container rather than the viewport.
That way they also move when the window resizes (as long as the parent container is resizing too)
That porbably won't make a ton of sense (didn't make sense to me when i was learning CSS)
but it's worth looking into if you want to learn more about CSS! */

/* I changed the overall layout of the page to essentially be one big container with two smaller
containers, the linkedin/bio container and the links container. I would suggest using media queries
to handle what happens when the page is resized to have a smaller width, you could either
make the font size of the links smaller when the page hits a certain width or you could change the 
flex display of the parent container to column so that the elements stack vertically when a 
user is viewing from a window with a narrow width (such as a phone) rather than overlap! */

/* QARKINE FONT */
@font-face {}
    font-family: 'Qarkine';
    src: url(../assets/Qarkine.ttf) format('truetype');
}

* {
    box-sizing: border-box; /* best practice to include this line */
}

/* PAGE BODY */
body {
    background-color: #a150b3;
    margin: 0;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}



/* PAGE CONTAINER */
.container {
    height: 100vh; /* so container takes up entire page no matter what device user is on */
    width: 100vw; /* so container takes up entire page no matter what device user is on */
    border: 3px solid red;
    display: flex; /* puts left half and right half side by side */
    align-items: center;
    min-height: 750px; /* this may not be best practice but it makes it so that if the window height is small, the page will scroll */
}

.left-half {
    width: 40%; /* left half div will take up 50% */
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* aligns all child elements to left side of container */
    height: auto;
    padding: 0 75px 0 0;
}

.right-half {
    width: 60%; /* right half div will take up remaining 50% of vw width */ 
    border: 3px solid blue;
}


/* PAGE NAVIGATION LINKS */
.page-nav {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 60px;
    align-items: flex-end;
    justify-content: center;
    padding: 0 50px 0 0;
}

.page-nav a {
    /*margin: 30px 0;*/
    text-decoration: none;
    font-family: 'Qarkine', sans-serif;
    font-weight: 200;
    color: white;
    letter-spacing: 5px;
}

.page-nav a:visited {
    color: white;
}

.page-nav a:hover {
    font-style: italic;
    transform: translateX(10px);
    transition: transform 0.3s ease;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
}



/* VERTICAL LINE 1 */
.verticalline {
    position: relative;
    left: 50px;
    width: 5px;
    height: 80px;
    background-color: white;
}



/* LINKEDIN */
.linkedin {
    position: relative;
    left: -45px;
    margin-top: 70px; /* use margin-top instead of top: */
    transform: rotate(-90deg);
    font-family: 'Qarkine', sans-serif;
    color: white;
}

.linkedin a {
    color: white;
    text-decoration: none;
    letter-spacing: 15px;
    font-size: 10px;
    font-weight: bold;
}

.linkedin a:visited {
    color: white;
}

.linkedin a:hover {
    font-style: italic;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
}



/* VERTICAL LINE 2 */
.verticalline2 {
    position: relative;
    left: 50px;
    margin-top: 90px; /* use margin-top instead of top: */
    width: 5px;
    height: 200px;
    background-color: white;
}



/* BIO */
.bio {
    position: relative;
    left: 50px;
    margin-top: 30px; /* use margin-top instead of top: */
}

.bio h4 {
    color: white;
    font-family: 'Qarkine', sans-serif;
    letter-spacing: 5px;
    margin-bottom: -10px;
    font-size: 15px;
    font-weight: 800;
}

.bio p {
    color: white;
    font-family: 'Qarkine', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight:100;
}

.bio a {
    color: white;
}

.bio a:hover {
    font-style: italic;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
}