/* QARKINE FONT */
@font-face {
    font-family: 'Qarkine';
    src: url(../assets/Qarkine.ttf) format('truetype');
}

body {
    background-color: #a150b3;
    margin: 0;
}

.container2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.headertest {
    color: white;
    text-align: left;
}

.headertest h1 {
    position: relative;
    color: white;
    font-family: 'Qarkine', sans-serif;
    margin-left: 50px;
}

.resumeheader {
    color: white;
    font-family: 'Qarkine', sans-serif;
    position: relative;
    align-self: flex-start;
    margin-left: 30px;
}

.horizontalline {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 110%;
    height: 5px;
    background-color: white;
}